In [23]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
customers_df = pd.read_csv("../data/customers.csv")
orders_df = pd.read_csv("../data/orders.csv")
products_df = pd.read_csv("../data/products.csv")
sales_df = pd.read_csv("../data/sales.csv")

In [ ]:
customers_df.info()
print("jumlah null:\n",customers_df.isna().sum(), "\n")
print("Jumlah duplikasi: ", customers_df.duplicated().sum())
customers_df.describe()

In [ ]:
#Customers Data Prints
customers_df[customers_df.age == customers_df.age.max()]

In [ ]:
customers_df[customers_df.gender.isna()]

In [ ]:
customers_df.gender.value_counts()

In [18]:
#Cleaning Customers Data
customers_df.fillna(value="Prefer not to say", inplace=True)
customers_df.drop_duplicates(inplace=True)

In [10]:
#Cleaning Customers Data
customers_df['age'] = customers_df['age'].replace(customers_df['age'].max(), 50)

In [ ]:
orders_df.info()
print("jumlah null:\n",orders_df.isna().sum(), "\n")
print("Jumlah duplikasi: ", orders_df.duplicated().sum())
orders_df.describe()

In [21]:
#Cleaning Orders, converting object to datetime on order_date and delivery_date column
datetime_columns = ["order_date", "delivery_date"]
  
for column in datetime_columns:
  orders_df[column] = pd.to_datetime(orders_df[column])

In [ ]:
products_df.info()
print("jumlah null:\n",products_df.isna().sum(), "\n")
print("Jumlah duplikasi: ", products_df.duplicated().sum())
products_df.describe()

In [25]:
#Cleaning Products Data
products_df.drop_duplicates(inplace=True)

In [31]:
sales_df.info()
print("jumlah null:\n",sales_df.isna().sum(), "\n")
print("Jumlah duplikasi: ", sales_df.duplicated().sum())
sales_df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sales_id        5000 non-null   int64
 1   order_id        5000 non-null   int64
 2   product_id      5000 non-null   int64
 3   price_per_unit  5000 non-null   int64
 4   quantity        5000 non-null   int64
 5   total_price     5000 non-null   int64
dtypes: int64(6)
memory usage: 234.5 KB
jumlah null:
 sales_id          0
order_id          0
product_id        0
price_per_unit    0
quantity          0
total_price       0
dtype: int64

Jumlah duplikasi:  0

,sales_id,order_id,product_id,price_per_unit,quantity,total_price
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000,5000.000000
mean,2499.500000,503.038200,634.053200,103.501600,1.99240,206.360000
std,1443.520003,285.964418,363.255794,9.195004,0.80751,86.357457
min,0.000000,1.000000,1.000000,90.000000,1.00000,90.000000
25%,1249.750000,258.000000,323.000000,95.000000,1.00000,112.000000
50%,2499.500000,504.500000,635.000000,102.000000,2.00000,204.000000
75%,3749.250000,749.000000,951.000000,112.000000,3.00000,285.000000
max,4999.000000,999.000000,1259.000000,119.000000,3.00000,357.000000

In [30]:
sales_df[sales_df.total_price.isna()]

Empty DataFrame
Columns: [sales_id, order_id, product_id, price_per_unit, quantity, total_price]
Index: []

In [29]:
# Cleaning Sales Data
sales_df["total_price"] = sales_df["price_per_unit"] * sales_df["quantity"]